html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}
.hero.is-success {
  background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}

.button.is-primary {
  background-color: rgb(43,141,136);
}

.avatar img {
  width: 128px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}

.border {
  border: 2px solid black;
}

.hidden {
  display: none;
}

.background {
  background: gray;
}

a {
  color: white;
}

.button.is-primary {
  background-color: rgb(75, 199, 186);
}

.box {
  box-shadow: 0 2px 3px rgba(75, 199, 186, 0.3), 0 0 0 1px rgba(75, 199, 186, 0.4);
  background-color:gray;
  color: white;
}

.input.is-primary, .textarea.is-primary {
  border-color: rgb(75, 199, 186);;
}

.input.is-active, .input.is-focused, .input:active, .input:focus, .textarea.is-active, .textarea.is-focused, .textarea:active, .textarea:focus {
  border-color: rgb(75, 199, 186);
  box-shadow: 0 0 0 0.125em rgba(50,115,220,.25);
}

.avatar img {
  background: rgba(75, 199, 186,0.4);
}

a:hover {
  color: rgb(75, 199, 186);
}

.checkbox:hover, .radio:hover {
  color: rgb(75, 199, 186);
}