
html,body {
  font-family: 'Open Sans', serif;
}

.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('../assets/solar_panels_cells.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}

.is-horizontal-center {
  justify-content: center;
}

.imageContainer{
  margin-right: 25px;
  width: 128px;
}

.hero-body {
  padding-bottom: 0;
}

.button.is-loading::after {
  height: 2em;
  width: 2em;
}
